.DS_Store

# Bundler
/.bundle

# Configuration
/config/application.yml
/config/application.yml.backup

# Temporary files and logs
/log/*
!/log/.keep
/tmp

# Static files
/public/uploads
/public/assets

# Vagrant
.vagrant

node_modules
